<?xml version="1.0" encoding="utf-8"?>
   <configuration>
     <packageSources>
       <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
     </packageSources>
     <packageSourceMapping>
       <packageSource key="nuget.org">
         <package pattern="Microsoft.EntityFrameworkCore" />
          <package pattern="AutoFixture.AutoNSubstitute" />
          <package pattern="AutoFixture" />
          <package pattern="NSubstitute" />
          <package pattern="Microsoft.EntityFrameworkCore.Tools" />
          <package pattern="FluentValidation" />
          <package pattern="Fare" />
          <package pattern="Microsoft.NETCore.Targets" />
          <package pattern="System.Collections" />
          <package pattern="System.ComponentModel" />
          <package pattern="System.ComponentModel.Annotations" />
          <package pattern="System.Diagnostics.Debug" />
          <package pattern="System.Globalization" />
          <package pattern="System.IO" />
          <package pattern="System.Linq" />
          <package pattern="System.Reflection" />
          <package pattern="System.Reflection.Extensions" />
          <package pattern="System.Reflection.Primitives" />
          <package pattern="System.Resources.ResourceManager" />
          <package pattern="System.Runtime" />
          <package pattern="System.Runtime.Extensions" />
          <package pattern="System.Text.Encoding" />
          <package pattern="System.Text.RegularExpressions" />
          <package pattern="System.Threading" />
          <package pattern="System.Threading.Tasks" />
          <package pattern="Castle.Core" />
          <package pattern="System.Diagnostics.EventLog" />
          <package pattern="Microsoft.EntityFrameworkCore.Abstractions" />
          <package pattern="Microsoft.EntityFrameworkCore.Analyzers" />
          <package pattern="Microsoft.Extensions.Caching.Abstractions" />
          <package pattern="Microsoft.Extensions.Caching.Memory" />
          <package pattern="Microsoft.Extensions.DependencyInjection" />
          <package pattern="Microsoft.Extensions.Logging" />
          <package pattern="Microsoft.Extensions.Logging.Abstractions" />
          <package pattern="System.Diagnostics.DiagnosticSource" />
          <package pattern="Microsoft.EntityFrameworkCore.InMemory" />
       </packageSource>
     </packageSourceMapping>
   </configuration>   